/* How to use flex?
Dr Hamdani University of Tissemsilt */
body h1,
h2,
h3,
h4,
h5 {
  display: flex;
}
.headerPage {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: rgb(200, 250, 250);
}
.headerPage img {
  width: 100px;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  background-color: #5957f1;
  align-items: center;
}
.navBar a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.grid-page {
  display: grid;
  grid-template-columns: 1fr 3fr 50px;
  justify-items: stretch;
}
.content {
  background-color: #f2f7f7;
  text-align: justify;
  padding: 10px;
  line-height: 1.3;
}
.content p {
  text-indent: 10px;
}
.leftBar {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  background-color: #4d5efa52;
  line-height: 2;
}

.rightBar {
  display: flex;
  padding-top: 5em;
  justify-content: start;
  align-items: center;
  color: red;
  text-orientation: vertical-lr;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.footer {
  background-color: #4d5efa52;
  height: 60px;
}
