/* How to use flex?
Dr Hamdani University of Tissemsilt */
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.headerPage {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: rgb(200, 250, 250);

  padding: 10px;
}
.headerPage img {
  width: 100px;
  height: 100px;
}
.titlePage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  background-color: #5957f1;
  padding: 1em;
  gap: 1em;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  height: 40px;

  align-items: center;
  background-color: rgba(252, 63, 63, 0.736);
}
.navBar a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.grid-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: stretch;
}
.content {
  background-color: #f2f7f7;
  text-align: justify;
  padding: 2px;
  line-height: 1.3;
}
.content p {
  text-indent: 10px;
}

.content h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: rgb(185, 16, 16);
  font-weight: bold;
  text-decoration: underline;
}
.leftBar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  line-height: 2;
  gap: 15px;
  padding: 10px;
  margin: 0;
}

.leftBar a {
  text-decoration: none;
}

.leftBar ul {
  margin-top: 0;
}

.leftBar h3 {
  margin: 0;
  padding: 5px;
}

.leftBar .author {
  color: darkblue;
  align-self: center;
  justify-self: end;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.rightBar {
  display: flex;
  padding-top: 5em;
  justify-content: start;
  align-items: center;
  color: red;
  text-orientation: vertical-lr;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.footer {
  background-color: #5957f1;;
  height: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.5;
  padding: 5px;
}

.footer .links {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer .links a {
  text-decoration: none;
  grid-column: 2;
  margin-left: 1em;
}

.footer ul {
  margin: 0;
}
.footer .links h3 {
  grid-column: 1;
  grid-row: 1/3;

  justify-self: center;
  align-self: center;
  color: rgb(165, 42, 42);
}
